.promo {
  grid-column: 3 / 4;

  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: end;

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: auto max-content;
    margin-bottom: 7rem;
  }

  &__bg {
    width: 100%;
    margin-top: -15rem;

    @include respond(phone) {
      margin-top: -10rem;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    margin-top: 10rem;
    margin-bottom: 4rem;

    @include respond(phone) {
      margin: 1.5rem 0;
    }
  }

  &__text {
    margin-top: 2.5rem;
    @include respond(phone) {
      text-align: center;
      margin-top: 0;
    }
  }
}