.shedule {
  padding-top: 8rem;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 75rem;
  grid-gap: 3rem;
  margin-bottom: 7.5rem;
  align-items: center;
  overflow: hidden;

  @include respond(tab-land) {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 102rem;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }

  &__image-wrap {
    display: flex;
    align-items: center;
    @include respond(tab-land) {
      position: relative;
      justify-content: flex-end;
      overflow: hidden;
    }

    @include respond(phone) {
      justify-content: flex-start;
    }
  }

  &__wrap {

    @include respond(phone) {
      margin-left: 4%;
      text-align: center;
    }
  }

  &__image {
    @include respond(tab-land) {
      max-width: none;
      width: 330%;
    }
    max-width: 100%;

    @include respond(phone) {
      width: auto;
    }
  }

  &__list {
    display: grid;
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 1fr;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__price {
    display: block;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: $main-color;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 2.25px;

    @include respond(phone) {
      margin: 1.5rem 0;
      font-size: 3rem;
      letter-spacing: 1.2px;
    }
  }

  &__text {
    margin-bottom: 4.5rem;
  }

  &__week {
    @include respond(phone) {
      margin-bottom: 1.5rem;
    }
  }
}