.teachers {
  grid-column: 3 / 4;

  &__title {
      margin-bottom: 5rem;

    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }

  &__list {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));

    @include respond(phone) {
      grid-gap: 4.3rem;
    }
  }
}

.teacher {
  display: flex;
  flex-direction: column;

  &__heading {
    margin-top: 3rem;
    margin-bottom: 2rem;

    @include respond(phone) {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  &__photo {
    display: block;
    max-width: 100%;
    height: auto;

    @include respond(phone) {
      align-self: center;
    }
  }
}