@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroylight.woff") format("woff"),
       url("../fonts/Gilroylight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Bold';
  src: url("../fonts/Gilroyextrabold.woff") format("woff"),
       url("../fonts/Gilroyextrabold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/museo_sans_cyrl_900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.main-heading {
  color: #000000;
  font-family: $font-title;
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.25px;

  @include respond(phone) {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
  }

  span {
    font-size: 3.4rem;
    letter-spacing: 1.7px;

    @include respond(phone) {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

.sub-heading {
  font-family: $font-title;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;

  @include respond(phone) {
    font-size: 14px;
  }
}

.dash {
  display: block;
  margin-top: 3.5rem;
  width: 64px;
  height: 7px;
  background-color: #f5112c;

  @include respond(phone) {
    margin: 1.5rem auto;
  }
}