.usecases {
  padding: 19rem 0;
  grid-column: 3 / 4;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 4px;
    height: 80rem;
    background-color: #e9e9e9;
    z-index: -1;
  }

  &__title {
    position: relative;
  }

  &__title::after {
    content: "?";
    position: absolute;
    opacity: 0.09;
    color: #000000;
    font-family: $font-title;
    font-size: 30rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__item:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &__item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-end;
  }

  &__item:nth-child(2) &__photo:last-child {
    max-width: 40%;
  }

  &__item:nth-child(2) &__number:first-child {
    left: 37%;
  }

  &__item:nth-child(even) &__photo:last-child {
    order: -1;
    margin-right: 4rem;
  }

  &__item:nth-child(odd) &__photo:last-child {
    margin-left: 2rem;
  }

  &__number {
    position: absolute;
    top: 15%;
    left: 45%;
    z-index: 10;
  }

  &__number::after {
    content: attr(data-end) ;
    color: red ;
  }

  &__text {
    max-width: 30rem;
  }

  &__photo {
    max-width: 51%;
    flex: 1 1 40%;
    position: relative;
  }
}

.clipEllipse {
  grid-column: 1 / -1;
  background-color: $grey;
  -webkit-clip-path: ellipse(268% 50% at -56% 52%);
}
