.usecases {
  padding: 19rem 0;
  grid-column: 3 / 4;
  position: relative;

  @include respond(phone) {
    padding: 8rem 0;
    text-align: center;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 4px;
    height: 80rem;
    background-color: #e9e9e9;
    z-index: -1;
  }

  &__title {
    position: relative;

    @include respond(phone) {
      margin-bottom: 6rem;
    }
  }

  &__title::after {
    content: "?";
    position: absolute;
    opacity: 0.09;
    color: #000000;
    font-family: $font-title;
    font-size: 30rem;
    font-weight: 400;
    text-transform: uppercase;

    @include respond(phone) {
      right: 1rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__item:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &__item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-end;

    @include respond(phone) {
      align-self: auto;
    }
  }

  &__item:nth-child(2) &__photo:last-child {
    max-width: 40%;

    @include respond(phone) {
      max-width: none;
    }
  }

  &__item:nth-child(2) &__number:first-child {
    left: 37%;

    @include respond(phone) {
      left: 0;
    }
  }

  &__item:nth-child(even) &__photo:last-child {
    order: -1;
    margin-right: 4rem;

    @include respond(phone) {
      order: 0;
      margin-right: 0;
    }
  }

  &__item:nth-child(odd) &__photo:last-child {
    margin-left: 2rem;
  }

  &__number {
    position: absolute;
    top: 15%;
    left: 45%;
    z-index: 10;
    font-size: 4.8rem;

    @include respond(phone) {
      position: relative;
      left: 0 !important;
      top: 0;
      margin-bottom: 1rem;
    }
  }

  &__number::after {
    content: attr(data-end) ;
    color: red ;
  }

  &__text {
    max-width: 30rem;

    @include respond(phone) {
      max-width: none;
      margin-bottom: 2.5rem;
    }
  }

  &__photo {
    max-width: 51%;
    flex: 1 1 40%;
    position: relative;

    @include respond(phone) {
      max-width: none;
      width: 100%;
      margin: 0!important;
    }
  }

  &__img {
    max-width: 100%;
    width: 100%;
  }
}

.clipEllipse {
  grid-column: 1 / -1;
  background-color: $grey;
  -webkit-clip-path: ellipse(268% 50% at -56% 52%);

  @include respond(phone) {
    -webkit-clip-path: none;
  }
}
